@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap");

body {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
}

.container {
    font-size: 3ch;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}

.kotlinautasHeader,
.kotlinautasFooter {
    background: linear-gradient(96.11deg, #c757bc 0%, #f88909 100%);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
}

.kotlinautasHeader {
    font-size: 1.5vh;
}

.kotlinautasMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coursesList li {
    padding: 10px;
    text-align: justify;
}

.coursesList a {
    font-weight: bold;
    color: #f88909;
    text-decoration: none;
    padding: 0.1em;
    transition-duration: 400ms;
}

.coursesList a:hover {
    background-color: #c757bc;
    color: white;
}

.kotlinautasFooter {
    font-size: 5ch;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 0.5rem;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    .container {
        width: 100%;
    }
}